.footer__content
    .footer__infoblock
        .footer__date © 2019
        .footer__infoblock-developer
            h5.footer__title-five Поддубный Евгений
            h6.footer__infoblock-title-six Личный сайт веб-разработчика
    .footer__media
        +main-menu('active-menu')
        .footer__block
            .footer__social
                .footer__social-desc Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                +socials('footer-icons')
            .footer__ps
                .footer__ps-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__ps-author Martin Golding