.login
    .login__content
        h4.login__title Авторизация
        button.login__btn-close
        form(action="post")#login__form
        label.login__form-field
            .login__form-name-log Логин
            input.login__form-input-log(type='text' value='terminator_2000')
            span.login__form-input-style-log
        label.login__form-field
            .login__form-name-pas Пароль
            input.login__form-input-pas(type='text' value='***********')
            span.login__form-input-style-pas
        input(type="submit").login__form-btn-send