.mobile-menu
    .mobile-menu__controls
        +icon('remove', 'mobile-menu__controls-icon')
    .mobile-menu__content
        +main-menu('', 'mobile')
    .mobile-menu__contacts
        +socials('', 'mobile')