.connection__parallax
    +image('content/budism.png', 'parallaxbudda')
    +image('content/buddamounatin.png', 'parallaxbudda')
    +image('content/budda.png', 'parallaxbudda budda')
    +image('content/buddacloud3.png', 'parallaxbudda')
    +image('content/buddacloud2.png', 'parallaxbudda')
    +image('content/buddacloud.png', 'parallaxbudda')