.connection__parallax
    +image('content/budism.png', 'background-budda')
    +image('content/buddamounatin.png', 'connection__parallax-mountain')
    +image('content/budda.png', 'connection__parallax-budda')
    +image('content/buddacloud3.png', 'budda-cloud')
    +image('content/buddacloud2.png', 'oblako')
    +image('content/buddacloud.png', 'oblachko')