.parallax
    +image('content/budism.png', 'parallaxsky')
    +image('content/mountain1.png', 'mountainlittle')
    +image('content/mountain.png', 'mountain')
    +image('content/man.png', 'man')
    +image('content/cloud1.png', 'cloud')
    +image('content/cloud2.png', 'tuchka')
    +image('content/baloon.png', 'baloon')