.parallax
    +image('content/budism.png', 'parallaxmountain move', '0.1')
    +image('content/mountain1.png', 'parallaxmountain move', '0.12')
    +image('content/mountain.png', 'parallaxmountain move', '0.17')
    +image('content/man.png', 'parallaxmountain move', '0.23')
    +image('content/cloud1.png', 'parallaxmountain move', '0.27')
    +image('content/cloud2.png', 'parallaxmountain move', '0.35')
    +image('content/baloon.png', 'parallaxmountain move', '2')