script(type="text/x-template")#reviews
    .reviews-vue
        .reviews__block
            h2.title-two Что обо мне говорят
            btns
        list(
            :reviews="reviews"
        )
              
script(type="text/x-template")#reviews-btns
    .reviews__controls
        button.reviews__controls-button-prev
        button.reviews__controls-button-next


script(type="text/x-template")#reviews-list
    .reviews__comment
        ul.reviews__comment-list
            li.reviews__comment-item(v-for="review in reviews")
                item(
                    :review="review"
                )

script(type="text/x-template")#reviews-item
    .item
        .reviews__comment-text {{review.comment}}
        .reviews__comment-sender
            .reviews__comment-avatar(:style=`background-image:url(${review.image})`)
            .reviews__comment-sender-info
                .reviews__comment-sender-name {{review.name}}
                .reviews__comment-sender-position {{review.position}}