.welcome
  .promo__content
        .promo__content-info Личный сайт веб разработчика
        .promo__content-name Евгений Поддубный
  .promo__controls
    a.promo__controls-link
      .promo__controls-name#scroll Скролл