include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.promo#promo
          include components/parallax-mountain
          .container
            include components/header
            include components/welcome
            include components/aboutme
        section.myskills#myskills
          .container
            .myskills__content
              +image('content/bag.png', 'bag')
              .myskills__info-block
                h3.title-three Чем я могу быть полезен вам
                .myskills__info-block-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .myskills__block
                  #skills-container
        section.myworks#myworks
          .container
            .myworks__content
              h4.title-four Мои работы
              #slider-container
        section.reviews
          include components/parallax-budda
          .reviews__content
            .container
              #reviews-container
              include components/form
        footer.footer
          include components/footer
    include ./entry