include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.promo#promo
          include components/parallax-mountain
          .container
            include components/header
            include components/welcome
            include components/aboutme
        section.myskills#myskills
          .container
            .myskills__content
              +image('content/bag.png', 'bag')
              include components/myskills
        section.myworks#myworks
          .container
            include components/myworks
        section.connection#connection
          include components/parallax-budda
          .connection__content
            .container
              include components/reviews
              include components/form
        footer.footer
          include components/footer
  script(src="./src/scripts/menu-mobile.js")
  script(src="./src/scripts/parallax.js")